---
layout: default
title: Listen
---
<div class="bg-white p-8 mb-8">
	<h2 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-3xl title-font">Listen</h2>
	<p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">Hear our tunes and <a href="https://soundcloud.com/brad-green-479841804" class="font-semibold text-teal-700 hover:text-black">follow us on SoundCloud</a>.</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-6">
	<div class="w-full bg-black rounded-lg flex flex-col justify-center items-center">
		<h3 class="text-xl md:text-2xl font-bold text-white mt-4 mb-4">Role Switch</h3>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1054083646&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/brad-green-479841804" title="Mother Material" target="_blank" style="color: #cccccc; text-decoration: none;">Mother Material</a> · <a href="https://soundcloud.com/brad-green-479841804/role-switch" title="Role Switch - LIVE DEMO" target="_blank" style="color: #cccccc; text-decoration: none;">Role Switch - LIVE DEMO</a></div>
	</div>
	<div class="w-full bg-black rounded-lg flex flex-col justify-center items-center">
		<h3 class="text-xl md:text-2xl font-bold text-white mt-4 mb-4">Alright</h3>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1054082911&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/brad-green-479841804" title="Mother Material" target="_blank" style="color: #cccccc; text-decoration: none;">Mother Material</a> · <a href="https://soundcloud.com/brad-green-479841804/alright-alright-alright" title="Alright - LIVE DEMO" target="_blank" style="color: #cccccc; text-decoration: none;">Alright - LIVE DEMO</a></div>
	</div>
	<div class="w-full bg-black rounded-lg flex flex-col justify-center items-center">
		<h3 class="text-xl md:text-2xl font-bold text-white mt-4 mb-4">Tuesday Night Sober</h3>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1054082668&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/brad-green-479841804" title="Mother Material" target="_blank" style="color: #cccccc; text-decoration: none;">Mother Material</a> · <a href="https://soundcloud.com/brad-green-479841804/tuesday-night-sober-fuck-a" title="Tuesday Night Sober - LIVE DEMO" target="_blank" style="color: #cccccc; text-decoration: none;">Tuesday Night Sober - LIVE DEMO</a></div>
	</div>
	<div class="w-full bg-black rounded-lg flex flex-col justify-center items-center">
		<h3 class="text-xl md:text-2xl font-bold text-white mt-4 mb-4">Believe in Violence</h3>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1054082326&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/brad-green-479841804" title="Mother Material" target="_blank" style="color: #cccccc; text-decoration: none;">Mother Material</a> · <a href="https://soundcloud.com/brad-green-479841804/believe-in-violence" title="Believe in Violence - LIVE DEMO" target="_blank" style="color: #cccccc; text-decoration: none;">Believe in Violence - LIVE DEMO</a></div>
	</div>
	<div class="w-full bg-black rounded-lg flex flex-col justify-center items-center">
		<h3 class="text-xl md:text-2xl font-bold text-white mt-4 mb-4">Forest from Trees</h3>
		<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1054082113&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/brad-green-479841804" title="Mother Material" target="_blank" style="color: #cccccc; text-decoration: none;">Mother Material</a> · <a href="https://soundcloud.com/brad-green-479841804/forest-from-trees" title="Forest from Trees - LIVE DEMO" target="_blank" style="color: #cccccc; text-decoration: none;">Forest from Trees - LIVE DEMO</a></div>
	</div>
</div>