<footer class="mt-5 md:mt-20 px-10 py-8 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        © 2023 <a href="{{ '/' | url }}" class="font-medium hover:underline" target="_blank" rel="noopener">{{ site.title }}</a> | <a href="https://www.facebook.com/mothermaterialtheband" class="hover:underline">Facebook</a> | <a href="https://open.spotify.com/artist/38vVFmWfMVZPHkUIbsCNmc?si=rcEBGHNbTC6B6HLIkNmRVQ" class="hover:underline">Spotify</a>
    </div>
</footer>